site_name: Code Limit Documentation
theme:
  name: material
  palette:
  - scheme: slate
    primary: black
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  - scheme: default
    primary: black
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  logo: assets/logo.png
  # favicon: assets/logo-24x32.png
  features:
    - toc.integrate
plugins:
  - search
nav:
    - 'index.md'
    - 'quickstart.md'
    - 'usage.md'
    - 'configuration.md'
    - 'faq.md'
    - 'development.md'
