name: 'code-style'

on:
  pull_request:
    branches:
      - main

jobs:
  code_style:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout sources'
        uses: actions/checkout@v4

      - name: 'Set up Python'
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: 'Set up Poetry'
        uses: snok/install-poetry@v1

      - name: 'Install dependencies'
        run: poetry install --no-interaction --no-root

      - name: 'Lint code with Ruff'
        run: poetry ruff check .

      - name: 'Type cheking with MyPy'
        run: poetry run mypy codelimit/
