name: 'main'
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout sources'
        uses: actions/checkout@v3

      - name: 'Set up Python'
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: 'Set up Poetry'
        uses: snok/install-poetry@v1

      - name: 'Install dependencies'
        run: poetry install --no-interaction --no-root

      - name: 'Run unit-tests with coverage'
        run: poetry run pytest --cov --cov-report=xml

      - name: 'Run codelimit'
        run: |
          echo "Scan codebase"
          poetry run codelimit scan .
          echo "Generate report"
          poetry run codelimit report .
          echo "Generate findings"
          poetry run codelimit findings .

      - name: 'Build and run codelimit binary'
        run: |
          poetry run pyinstaller -n codelimit -F codelimit/__main__.py
          ./dist/codelimit scan .

      - name: 'Upload coverage reports to Codecov'
        uses: codecov/codecov-action@v3
