name: regression

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  analyze:
    runs-on: self-hosted
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync --locked --dev

      - name: Run regression runner
        run: uv run poe regression run
